// Animation Keyframes

@import 'compass';
@import 'animation';

// Scene
@include keyframes(scene) {
	0% {
		background-position: left bottom;
	}
	100% {
		background-position: right bottom;
	}
}
@-ms-keyframes scene {
	0% {
		background-position-x: 1px;
	}
	100% {
		background-position-x: -4203px;
	}
}

// Head
@include keyframes(rotate-head) {
	0% {
		@include transform(rotate(0deg) translate(0px,0px));
	}
	40% {
		@include transform(rotate(10deg) translate(15px,5px));
	}
	80% {
		@include transform(rotate(-5deg) translate(8px,5px));
	}
	100% {
		@include transform(rotate(0deg) translate(0px,0px));
	}
	}
	@include keyframes(rotate-skull) {
		0% {
			@include transform(rotate(0deg));
		}
		25% {
			@include transform(rotate(15deg));
		}
		50% {
			@include transform(rotate(-5deg));
		}
		55% {
			@include transform(rotate(0deg));
		}
		75% {
			@include transform(rotate(-10deg));
		}
		100% {
			@include transform(rotate(0deg));
		}
	}

// Shell
@include keyframes(rotate-shell) {
	0% {
		@include transform(rotate(0deg));
	}
	20% {
		@include transform(rotate(3deg));
	}
	40% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	70% {
		@include transform(rotate(-3deg));
	}
	90% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}

// Legs
@include keyframes(rotate-hip-a) {
	0% {
		@include transform(translate(0px,0px));
	}
	75% {
		@include transform(translate(0px,0px));
	}
	80% {
		@include transform(translate(5px,0px));
	}
	85% {
		@include transform(translate(5px,5px));
	}
	90% {
		@include transform(translate(-5px,5px));
	}
	95% {
		@include transform(translate(-5px,0px));
	}
	100% {
		@include transform(translate(0px,0px));
	}
}
@include keyframes(rotate-hip-b) {
	0% {
		@include transform(translate(0px,0px));
	}
	55% {
		@include transform(translate(0px,0px));
	}
	60% {
		@include transform(translate(5px,0px));
	}
	65% {
		@include transform(translate(5px,5px));
	}
	70% {
		@include transform(translate(-5px,5px));
	}
	75% {
		@include transform(translate(-5px,0px));
	}
	80% {
		@include transform(translate(0px,0px));
	}
	100% {
		@include transform(translate(0px,0px));
	}
}
@include keyframes(rotate-hip-c) {
	0% {
		@include transform(translate(0px,0px));
	}
	25% {
		@include transform(translate(0px,0px));
	}
	30% {
		@include transform(translate(5px,0px));
	}
	35% {
		@include transform(translate(5px,5px));
	}
	40% {
		@include transform(translate(-5px,5px));
	}
	45% {
		@include transform(translate(-5px,0px));
	}
	50% {
		@include transform(translate(0px,0px));
	}
	100% {
		@include transform(translate(0px,0px));
	}
}
@include keyframes(rotate-hip-d) {
	0% {
		@include transform(translate(0px,0px));
	}
	05% {
		@include transform(translate(5px,0px));
	}
	10% {
		@include transform(translate(5px,5px));
	}
	15% {
		@include transform(translate(-5px,5px));
	}
	20% {
		@include transform(translate(-5px,0px));
	}
	25% {
		@include transform(translate(0px,0px));
	}
	100% {
		@include transform(translate(0px,0px));
	}
}

// Thigh
@include keyframes(thigh-a) {
	0% {
		@include transform(rotate(0deg));
	}
	70% {
		@include transform(rotate(0deg));
	}
	80% {
		@include transform(rotate(-13deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(thigh-b) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	60% {
		@include transform(rotate(-13deg));
	}
	80% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(thigh-c) {
	0% {
		@include transform(rotate(0deg));
	}
	20% {
		@include transform(rotate(0deg));
	}
	30% {
		@include transform(rotate(-13deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(thigh-d) {
	0% {
		@include transform(rotate(0deg));
	}
	10% {
		@include transform(rotate(-13deg));
	}
	30% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}

// Shin
@include keyframes(shin-a) {
	0% {
		@include transform(rotate(0deg));
	}
	70% {
		@include transform(rotate(0deg));
	}
	80% {
		@include transform(rotate(23deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(shin-b) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	60% {
		@include transform(rotate(23deg));
	}
	80% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(shin-c) {
	0% {
		@include transform(rotate(0deg));
	}
	20% {
		@include transform(rotate(0deg));
	}
	30% {
		@include transform(rotate(23deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(shin-d) {
	0% {
		@include transform(rotate(0deg));
	}
	10% {
		@include transform(rotate(23deg));
	}
	30% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}

// Foot
@include keyframes(foot-a) {
	0% {
		@include transform(rotate(0deg));
	}
	70% {
		@include transform(rotate(0deg));
	}
	80% {
		@include transform(rotate(-20deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(foot-b) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	60% {
		@include transform(rotate(-20deg));
	}
	80% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(foot-c) {
	0% {
		@include transform(rotate(0deg));
	}
	20% {
		@include transform(rotate(0deg));
	}
	30% {
		@include transform(rotate(-20deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(foot-d) {
	0% {
		@include transform(rotate(0deg));
	}
	10% {
		@include transform(rotate(-20deg));
	}
	30% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}