@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'atat-images';

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.animation-scene {
	background: #53809F image-url("#{$imgScene}") no-repeat scroll 0 100%;
	border: solid 1px $white;
	height: 519px;
	margin: 40px 0;
}

.atat {
	height: 446px;
	left: 50px;
	position: relative;
	top: 60px;
	width: 506px;
	z-index: 10;
}

// Animate bone
.head {
	//border: 1px dotted red;
	height: 130px;
	position: absolute;
	right: 16px;
	top: 28px;
	width: 230px;
}

	.skull {
		height: 123px;
		position: absolute;
		right: 0;
		top: 0;
		width: 186px;
		z-index: 30;
	}
	.neck {
		height: 50px;
		left: 0;
		position: absolute;
		top: 30px;
		width: 82px;
	}

// Animate bone
.shell {
	//border: 1px dotted red;
	height: 191px;
	position: absolute;
	width: 298px;
}


.leg-a,
.leg-b,
.leg-c,
.leg-d {
	height: 300px;
	position: relative;
	width: 131px;
}
.leg-a {
	left: 32px;
	position: absolute;
	top: 148px;
}
.leg-b {
	position: absolute;
	right: 180px;
	top: 147px;
}
.leg-c {
	left: 46px;
	position: absolute;
	top: 156px;
}
.leg-d {
	position: absolute;
	right: 176px;
	top: 155px;
}

// Animate bone
.leg-thigh {
	//border: 1px dotted red;
	height: 119px;
	position: absolute;
	width: 55px;
}

// Animate bone
.leg-shin {
	//border: 1px dotted red;
	height: 115px;
	left: -10px;
	position: absolute;
	top: 100px;
	width: 73px;
}

// Animate bone
.leg-shin .exo {
	//border: 1px dotted red;
	height: 115px;
	position: relative;
	width: 73px;
}

// Animate bone
.leg-foot {
	//border: 1px dotted red;
	bottom: -74px;
	left: -30px;
	height: 90px;
	position: absolute;
	width: 131px;
	z-index: -20;
}